<%= content_for :title do %>
	Manga House: Manga
<% end %>
<div class="container">

	<div class="my_header">
		<h1>Manga!</h1>
	</div>

	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#all_tab_content" data-toggle="tab">All Manga</a></li>
	</ul>

	<div id="myTabContent col-md-12 " class="tab-content">
		<div class="tab-pane fade active in col-md-10 col-md-offset-1" id="all_tab_content">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th>Author</th>
					</tr>
				</thead>
				<tbody>

					<% @data.each do |datum| %>
						<tr>
							<td><a href="/mangas/<%=datum[:manga_id] %>"> <%= datum[:title] %></a></td>
							<td><a href="/artist/<%=datum[:artist_id] %>"> <%= datum[:artist] %> </a></td>
							<td><a href="/author/<%=datum[:author_id] %>"> <%= datum[:author] %> </a></td>
						</tr>
					<% end %>

				</tbody>
			</table>
		</div>

	</div>

	<ul class="pager">
		<li class="previous"><a href="mangas?page=<%=@page.to_i-1%>">&larr; Previous</a></li>
		<li class="next"><a href="mangas?page=<%=@page.to_i+1%>">Next &rarr;</a></li>
	</ul>  

</div><!-- /.container -->
