<h1>Manga#index</h1>
<p>Find me in app/views/manga/index.html.erb</p>
<p>
<%= @people.first_name %>
<%= @people.last_name %>
<%= @people.birthday %>
</p>


<p>
<%= @author.author_id %>
</p>

<p>
<%= @artist.artist_id %>
</p>

<p>
<%= @genre.name %>
<%= @genre.description %>
</p>

<p>
<%= @publisher.name %>
<%= @publisher.description %>
</p>
