<% content_for :title do %>
	Manga House: Search
<% end %>
<div class="container">

	<div class="my_header">
		<h1>Search!</h1> 
	</div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#quick_search" data-toggle="tab">Quick Search</a></li>
		<li><a href="#advanced_search" data-toggle="tab">Advance Search</a></li>
	</ul>


	<!-- Tab panes -->
	<div class="tab-content" >
		<div class="tab-pane fade in active" id="quick_search">
			<form class="panel-body" method = "get" action = "/search">
				<input type="hidden" name="search_type" id="quick_search" value="quick_search" />
				<span class="input-group col-md-6 col-md-offset-3">
					<span class="input-group-addon">Title</span>
					<input name = "word" type="text" class="form-control"placeholder="Quick Search!...">
					<span class="input-group-btn">
						<button class="btn btn-default btn" type="  button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</span>
			</form>
		</div>
		<div class="tab-pane fade" id="advanced_search">
			<div class="panel-body">
				<!-- Search Option-->
				<form  action = "/search" class="form-horizontal col-md-offset-1" role="form">
					<input type="hidden" name="search_type" id="advanced_searach" value="advanced_search" />

					<div class="form-group">
						<label for="title_advanced_search" class="col-md-1 control-label">Title</label>
						<div class="col-md-5">
							<div class="input-group">
								<input name = "title_advanced_search" type="text" class="form-control" id="title_advanced_search" placeholder="Title">
								<span class="input-group-addon">
									<input name = "title_advanced_search_checkbox"type="checkbox" id="title_advanced_search_checkbox" checked>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="artist_advanced_search" class="col-md-1 control-label">Artist</label>
						<div class="col-md-5">
							<div class="input-group">
								<input name = "artist_advanced_search" type="text" class="form-control" id="artist_advanced_search" placeholder="artist">
								<span class="input-group-addon">
									<input name = "artist_advanced_search_checkbox" type="checkbox" id="artist_advanced_search_checkbox" >
								</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="author_advanced_search" class="col-md-1 control-label">Author</label>
						<div class="col-md-5">
							<div class="input-group">
								<input name = "author_advanced_search" type="text" class="form-control" id="author_advanced_search" placeholder="author">
								<span class="input-group-addon">
									<input name = "author_advanced_search_checkbox" type="checkbox" id="author_advanced_search_checkbox" >
								</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="author_advanced_search" class="col-md-1 control-label"> Genre </label>
						<div class="col-md-8">
							<div class="input-group">
								<div class="checkbox-inline">
									<label>
										<input name ="action_" type="checkbox" id="action" > Action 
									</label>
								</div>
								<div class="checkbox-inline" >
									<label>
										<input name ="comedy" type="checkbox"id="comedy"> Comedy
									</label>
								</div>
								<div class="checkbox-inline">
									<label>
										<input name = "drama" type="checkbox" id="drama" > Drama
									</label>
								</div>
								<div class="checkbox-inline">
									<label>
										<input name = "fantasy" type="checkbox" id="fantasy" > Fantasy
									</label>
								</div>
								<div class="checkbox-inline">
									<label>
										<input name = "magic" type="checkbox" id="magic" > Magic
									</label>
								</div>
								<div class="checkbox-inline">
									<label> 
										<input name = "mystery" type="checkbox" id="mystery" > Mystery
									</label>
								</div>
								<div class="checkbox-inline">
									<label>
										<input name = "romance" type="checkbox" id="romance" > Romance
									</label>
								</div>
								<span class="checkbox-inline">
									<label>
										<input name = "sports" type="checkbox" id="sports" > Sports
									</label>
								</span>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary col-md-1 col-md-offset-1">
						<span class="glyphicon glyphicon-search"></span> Search!
					</button>
				</form>


			</div>
		</div>
	</div>

	<!-- Table -->
	<table class="table table-hover">
		<hr>
		<thead>
			<tr>
				<th>Date</th>
				<th>Title</th>
				<th>Chapter</th>
				<th>Artist</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>


			<%if @data != nil  %>
				<% @data.each do |datum| %>
					<tr>
						<td> <%= datum[:date] %> </td>
						<td><a href="/manga/<%= datum[:manga_id] %>"> <%= datum[:title] %></a></td>
						<td> <%= datum[:chapter] %> </td>
						<td><a href="/artist/<%= datum[:artist_id] %>"> <%= datum[:artist] %> </a></td>
						<td><a href="/author/<%= datum[:author_id] %>"> <%= datum[:author] %> </a></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>


	<ul class="pager">
		<li class="previous"><a href="<%= @url+'&page=' + (@page.to_i-1).to_s  %>">&larr; Previous</a></li>
		<li class="next"><a href="<%= @url+'&page=' + (@page.to_i+1).to_s  %>">Next &rarr;</a></li>
	</ul>  
</div><!-- /.container -->
